@using DevWorx.Resources;


<section class="home py-5 d-flex align-items-center" id="header">
    <div class="container text-light py-5" data-aos="fade-right">
        <h1 class="headline"><span class="home_text">Creative</span>, <span class="home_text">flexible</span> and <span class="home_text">affordable </span><br>website design</h1>

    </div> <!-- end of container -->
</section> <!-- end of home -->
<!-- Information -->
<section class="information">
    <div class="container-fluid">
        <div class="row text-light">
            <div class="col-lg-4 text-center p-5" data-aos="zoom-in">
                <i class="fas fa-tachometer-alt fa-3x p-2"></i>
                <h4 class="py-3">SEO Optimization</h4>
                <p class="para-light">We will ensure the highest ranking possible for your websites in search engines</p>
            </div>
            <div class="col-lg-4 text-center p-5" data-aos="zoom-in">
                <i class="fas fa-clock fa-3x p-2"></i>
                <h4 class="py-3">99% Internet Uptime</h4>
                <p class="para-light">Your website will not go down.. without a fight!</p>
            </div>
            <div class="col-lg-4 text-center p-5 text-dark" data-aos="zoom-in">
                <i class="fas fa-headset fa-3x p-2"></i>
                <h4 class="py-3">24/7 Support </h4>
                <p class="para-light">Our support staff are ready to receive your queries and help in any way they can</p>
            </div>
        </div>
    </div> <!-- end of container -->
</section> <!-- end of information -->
<!-- About -->
<section class="about d-flex align-items-center text-light py-5" id="about">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-7" data-aos="fade-right">
                <p>ABOUT US</p>
                <h1>We are top <span class="home_text">Web</span> <br> <span class="home_text">Design</span> company</h1>
                <p class="py-2 para-light">Our focus is to take local businesses and </p>
                <p class="py-2 para-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non sed accusantium aut dolores inventore architecto modi cupiditate eligendi corporis, illum illo culpa. Reiciendis, molestias. Illum voluptatum quisquam ad veritatis dolorem.</p>

                <div class="my-3">
                    <a class="btn" href="#your-link">Learn More</a>
                </div>
            </div>
            <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down">
                <img class="img-fluid" src="content/images/about.jpg" alt="about">
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</section> <!-- end of about -->
<!-- Services -->

<section class="services d-flex align-items-center py-5" id="services">
    <div class="container text-light">
        <div class="text-center pb-4">
            <p>Our Services</p>
            <h2 class="py-2">Explore unlimited possibilities</h2>
            <p class="para-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae asperiores, quia accusantium sunt corporis optio recusandae? Nostrum libero pariatur cumque, ipsa dolores voluptatibus voluptate alias sit fuga. Itaque, ea quo.</p>
        </div>
        <div class="row gy-4 py-2" data-aos="zoom-in">
            <div class="col-lg-4 image card">
                <img class="image__img" src="~/Content/images/Services/webdesign2.jpg" alt="Web Design">
                <div class="image__overlay">
                    <div class="image__title">WEBSITE DESIGN</div>
                    <p class="image__description">
                        Want a website that delivers YOUR message to your target market, in a powerful impression, first time around?.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 image card">
                <img class="image__img" src="~/Content/images/Services/WebsiteRedesign.png" alt="Web Design">
                <div class="image__overlay">
                    <div class="image__title">WEBSITE REDESIGN</div>
                    <p class="image__description">
                        If your website is over 1 year old, its time to “Refresh” it. Experts say you should upgrade your site every year.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 image card">
                <img class="image__img" src="~/Content/images/Services/Webhosting.jpg" alt="Web Design">
                <div class="image__overlay">
                    <div class="image__title">WEB HOSTING</div>
                    <p class="image__description">
                        With increased disk space and more email boxes, our Business Web Hosting packages are perfect for the growing business.
                    </p>
                </div>
            </div>


            <div class="col-lg-4 image card">
                <img class="image__img" src="~/Content/images/Services/wordpressmaintenance.jpg" alt="Web Design">
                <div class="image__overlay">
                    <div class="image__title">WORDPRESS MAINTENANCE</div>
                    <p class="image__description">
                        Keep WordPress, themes, plugins and security up to date at all time. Keep your website new forever.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 image card">
                <img class="image__img" src="~/Content/images/Services/seo1.jpg" alt="Web Design">
                <div class="image__overlay">
                    <div class="image__title">SEO</div>
                    <p class="image__description">
                        Increase your websites chances of appearing on the top of Google and Bing search results organically.
                    </p>
                </div>
            </div>

        </div>  <!-- end of row -->
    </div> <!-- end of container -->
</section>

<!-- end of services -->
<!-- Work Flow -->
<section class="workflow d-flex align-items-center py-5" id="plans">
    <div class="container text-light">
        <div class="text-center pb-4">
            <p>Work Flow</p>
            <h2 class="py-2">Heres How Our <span class="home_text">Web Design</span> Process Works!</h2>
            <p class="para-light">We’ll have your new website up-and-running within a matter of weeks! Here’s how the process works:</p>
        </div>
        <div class="row gy-4 py-2" data-aos="zoom-in">
            <div class="col-lg-4">
                <div class="card bg-transparent2">
                    <img src="~/Content/images/1.png" />
                    <h4 class="py-2">
                        <span> <text class="numbering">&nbsp;&nbsp;1&nbsp;&nbsp;</text>&nbsp;&nbsp;<text class="py-2">REQUIREMENTS GATHERING</text></span>
                    </h4>
                    <br />
                    <p class="para-light2">We will analyze web project requirements and instructions given by you.</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card bg-transparent2">
                    <img src="~/Content/images/2.png" />
                    <h4 class="py-2">
                        <span> <text class="numbering">&nbsp;&nbsp;2&nbsp;&nbsp;</text>&nbsp;&nbsp;<text class="py-2">DESIGN/ THEME SAMPLES</text></span>
                    </h4>
                    <br />
                    <p class="para-light2">We will send you design draft/themes samples to chose from.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-transparent2">
                    <img src="~/Content/images/3.png" />
                    <h4 class="py-2">
                        <span> <text class="numbering">&nbsp;&nbsp;3&nbsp;&nbsp;</text>&nbsp;&nbsp;<text class="py-2">CONTENT CREATION</text></span>
                    </h4>
                    <br />
                    <p class="para-light2">After design layout is finlized, we will begin content creation and send you drafts.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-transparent2">
                    <img src="~/Content/images/4.png" />
                    <h4 class="py-2">
                        <span> <text class="numbering">&nbsp;&nbsp;4&nbsp;&nbsp;</text>&nbsp;&nbsp;<text class="py-2">DEVELOPMENT/ TESTING</text></span>
                    </h4>
                    <br />
                    <p class="para-light2">Once content is approved, We will commence web development and testing.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-transparent2">
                    <img src="~/Content/images/5.png" />
                    <h4 class="py-2">
                        <span> <text class="numbering">&nbsp;&nbsp;5&nbsp;&nbsp;</text>&nbsp;&nbsp;<text class="py-2">RECEIVE A TEST URL</text></span>
                    </h4>
                    <br />
                    <p class="para-light2">We will share the test URL with you, as soon as your webiste is ready for review.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-transparent2">
                    <img src="~/Content/images/6.png" />
                    <h4 class="py-2">
                        <span> <text class="numbering">&nbsp;&nbsp;6&nbsp;&nbsp;</text>&nbsp;&nbsp;<text class="py-2">FIRST SET OF REVISIONS</text></span>
                    </h4>
                    <br />
                    <p class="para-light2">Provide a detailed list of any revisions, changes or updates that need to be made.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-transparent2">
                    <img src="~/Content/images/7.png" />
                    <h4 class="py-2">
                        <span> <text class="numbering">&nbsp;&nbsp;7&nbsp;&nbsp;</text>&nbsp;&nbsp;<text class="py-2">SECOND SET OF REVISIONS</text></span>
                    </h4>
                    <br />
                    <p class="para-light2">Provide another set of revisons or update (if any). These will be final revisions.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-transparent2">
                    <img src="~/Content/images/8.png" />
                    <h4 class="py-2">
                        <span> <text class="numbering">&nbsp;&nbsp;8&nbsp;&nbsp;</text>&nbsp;&nbsp;<text class="py-2">YOUR WEBSITE GOES LIVE!</text></span>
                    </h4>
                    <br />
                    <p class="para-light2">Congratulations! Your website is live and ready for your target audience!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-transparent2">
                    <img src="~/Content/images/9.png" />
                    <h4 class="py-2">
                        <span> <text class="numbering">&nbsp;&nbsp;9&nbsp;&nbsp;</text>&nbsp;&nbsp;<text class="py-2">MONETIZE YOUR WEBSITE</text></span>
                    </h4>
                    <br />
                    <p class="para-light2">Now its time to start making money from your website. Get started with SEO or PPC!</p>
                </div>
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</section> <!-- end of plans -->
<!-- Why Choose Us -->

<section data-speed="1" class="workflow align-items-center py-5 parallax_section_holder  interactive" style="background-image: url(&quot;https://www.icanvas.co.za/wp-content/uploads/2017/01/work-desk.jpg&quot;); background-position: 50% 108px;height: 1150px;" id="why">
    @*<section id="why" data-speed="1" class="parallax_section_holder  interactive " style="background-image: url(&quot;https://www.icanvas.co.za/wp-content/uploads/2017/01/work-desk.jpg&quot;); background-position: 50% 118px;">*@
    <div class="parallax_content center">
        <div class="parallax_section_inner_margin clearfix">
            <div class="wpb_column vc_column_container vc_col-sm-2 vc_col-lg-3"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div><div class="wpb_column vc_column_container vc_col-sm-8 vc_col-lg-6 vc_col-md-offset-0 vc_col-md-8 vc_col-xs-12">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper" style="height: 100%;">
                        <div class="separator  transparent   " style="margin-top: 80px;margin-bottom: 0px;"></div>

                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <h2>
                                    <span style="color: #ffffff;">
                                        Why Choose <span class="home_text" style="font-weight: bold;">
                                            &nbsp;D E V W O R X
                                        </span><br>
                                        For Your Next Project
                                    </span>
                                </h2>

                            </div>
                        </div> <div class="separator  small center  " style=""></div>
                        <div class="separator  transparent   " style="margin-top: 80px;margin-bottom: 0px;"></div>
                        <div class="qode-int-icon-showcase qode-autoplay qode-appeared" data-interval="3000">
                            <div class="qode-int-icon-showcase-inner">
                                <div class="qode-showcase-item-holder qode-showcase-active">
                                    <div class="qode-showcase-icon">
                                        <span class="qode-icon-holder qode-icon-circle">
                                            <i class="qode_icon_font_awesome fa fa-bomb qode-icon-element"></i>
                                        </span>
                                    </div>
                                    <div class="qode-showcase-content">
                                        <div class="qode-showcase-content-table">
                                            <div class="qode-showcase-content-cell">
                                                <h2>Quality</h2>
                                                <div class="qode-showcase-content-inner">
                                                    Quality at a competitive price – bang for your buck!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="qode-showcase-item-holder">
                                    <div class="qode-showcase-icon">
                                        <span class="qode-icon-holder qode-icon-circle">
                                            <i class="qode_icon_font_awesome fa fa-heart qode-icon-element"></i>
                                        </span>
                                    </div>
                                    <div class="qode-showcase-content">
                                        <div class="qode-showcase-content-table">
                                            <div class="qode-showcase-content-cell">
                                                <h2>Satisfaction Guaranteed</h2>
                                                <div class="qode-showcase-content-inner">
                                                    You will love your new Website.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="qode-showcase-item-holder">
                                    <div class="qode-showcase-icon">
                                        <span class="qode-icon-holder qode-icon-circle">
                                            <i class="qode_icon_font_awesome fa fa-cubes qode-icon-element"></i>
                                        </span>
                                    </div>
                                    <div class="qode-showcase-content">
                                        <div class="qode-showcase-content-table">
                                            <div class="qode-showcase-content-cell">
                                                <h2>Tailormade</h2>
                                                <div class="qode-showcase-content-inner">
                                                    A site tailored to your Needs and your Target Market
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="qode-showcase-item-holder">
                                    <div class="qode-showcase-icon">
                                        <span class="qode-icon-holder qode-icon-circle">
                                            <i class="qode_icon_font_awesome fa fa-user qode-icon-element"></i>
                                        </span>
                                    </div>
                                    <div class="qode-showcase-content">
                                        <div class="qode-showcase-content-table">
                                            <div class="qode-showcase-content-cell">
                                                <h2>Brand Identity</h2>
                                                <div class="qode-showcase-content-inner">
                                                    Get more than just a new website, you can get a new Brand Identity
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="qode-showcase-item-holder">
                                    <div class="qode-showcase-icon">
                                        <span class="qode-icon-holder qode-icon-circle">
                                            <i class="qode_icon_font_awesome fa fa-bolt qode-icon-element"></i>
                                        </span>
                                    </div>
                                    <div class="qode-showcase-content">
                                        <div class="qode-showcase-content-table">
                                            <div class="qode-showcase-content-cell">
                                                <h2>Quick &amp; Personal</h2>
                                                <div class="qode-showcase-content-inner">
                                                    Quick turnaround times and great personal service
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="qode-showcase-item-holder">
                                    <div class="qode-showcase-icon">
                                        <span class="qode-icon-holder qode-icon-circle">
                                            <i class="qode_icon_font_awesome fa fa-trophy qode-icon-element"></i>
                                        </span>
                                    </div>
                                    <div class="qode-showcase-content">
                                        <div class="qode-showcase-content-table">
                                            <div class="qode-showcase-content-cell">
                                                <h2>Get Ahead of your Competition</h2>
                                                <div class="qode-showcase-content-inner">
                                                    Get a better looking website than your biggest competitor for an affordable price
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="qode-showcase-item-holder">
                                    <div class="qode-showcase-icon">
                                        <span class="qode-icon-holder qode-icon-circle">
                                            <i class="qode_icon_font_awesome fa fa-key qode-icon-element"></i>
                                        </span>
                                    </div>
                                    <div class="qode-showcase-content">
                                        <div class="qode-showcase-content-table">
                                            <div class="qode-showcase-content-cell">
                                                <h2>Suit your Budget</h2>
                                                <div class="qode-showcase-content-inner">
                                                    We can work to budget – get the best value website, customised to your needs
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="qode-showcase-item-holder">
                                    <div class="qode-showcase-icon">
                                        <span class="qode-icon-holder qode-icon-circle">
                                            <i class="qode_icon_font_awesome fa fa-plane qode-icon-element"></i>
                                        </span>
                                    </div>
                                    <div class="qode-showcase-content">
                                        <div class="qode-showcase-content-table">
                                            <div class="qode-showcase-content-cell">
                                                <h2>Nationwide</h2>
                                                <div class="qode-showcase-content-inner">
                                                    No matter where you are in the country, we can help you
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="qode-int-icon-circle"></div>

                            <a itemprop="url" href="#contact" target="_self" data-hover-background-color="#303030" data-hover-color="#ffffff" class="qbutton  large center white default" style="color: rgb(255, 255, 255);margin-top: 750px;">LET'S CHAT?</a><div class="separator  transparent"></div>
                        </div>
                    </div>
                </div><div class="wpb_column vc_column_container vc_col-sm-2 vc_hidden-md vc_hidden-sm vc_hidden-xs"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div>
            </div>
        </div>
</section>

<!-- end of Why Choose Us -->
<!-- Testimonials -->
<div class="slider-1 testimonial text-light d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="text-center w-lg-75 m-auto pb-4">
                <p>TESTIMONIALS</p>
                <h2 class="py-2">What Our Clients Says</h2>
                <p class="para-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci esse facilis vel, neque ipsa mollitia impedit, commodi ab illo dignissimos, voluptatum quae amet sed tenetur dolores reprehenderit laudantium quo sint.</p>
            </div>
        </div> <!-- end of row -->
        <div class="row p-2" data-aos="zoom-in">
            <div class="col-lg-12">

                <!-- Card Slider -->
                <div class="slider-container">
                    <div class="swiper-container card-slider">
                        <div class="swiper-wrapper">

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="testimonial-card p-4">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam commodi officia laborum qui iste quidem!</p>

                                    <div class="d-flex pt-4">
                                        <div>
                                            <img class="avatar" src="content/images/testimonial-1.jpg" alt="testimonial">
                                        </div>
                                        <div class="ms-3 pt-2">
                                            <h6>Marlene Visconte</h6>
                                            <p>General Manager - Scouter</p>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="testimonial-card p-4">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam commodi officia laborum qui iste quidem!</p>
                                    <div class="d-flex pt-4">
                                        <div>
                                            <img class="avatar" src="content/images/testimonial-2.jpg" alt="testimonial">
                                        </div>
                                        <div class="ms-3 pt-2">
                                            <h6>John Spiker</h6>
                                            <p>Team Leader - Vanquish</p>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="testimonial-card p-4">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam commodi officia laborum qui iste quidem!</p>
                                    <div class="d-flex pt-4">
                                        <div>
                                            <img class="avatar" src="content/images/testimonial-3.jpg" alt="testimonial">
                                        </div>
                                        <div class="ms-3 pt-2">
                                            <h6>Stella Virtuoso</h6>
                                            <p>Design Chief - Upscale</p>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="testimonial-card p-4">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam commodi officia laborum qui iste quidem!</p>
                                    <div class="d-flex pt-4">
                                        <div>
                                            <img class="avatar" src="content/images/testimonial-4.jpg" alt="testimonial">
                                        </div>
                                        <div class="ms-3 pt-2">
                                            <p>Mike tim</p>
                                            <p>Investor - TechGroww</p>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->

                        </div> <!-- end of swiper-wrapper -->
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <!-- end of add arrows -->

                    </div> <!-- end of swiper-container -->
                </div> <!-- end of slider-container -->
                <!-- end of card slider -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of testimonials -->
<!-- Newsletter -->
<section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">

        <div class="clients-slider swiper-container" style="width:1200px">
            <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide"><img src="content/images/Certificates/certificate-1.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="content/images/Certificates/certificate-2.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="content/images/Certificates/certificate-3.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="content/images/Certificates/certificate-4.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="content/images/Certificates/certificate-5.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="content/images/Certificates/certificate-6.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="content/images/Certificates/certificate-7.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="content/images/Certificates/certificate-8.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="content/images/Certificates/certificate-9.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="content/images/Certificates/certificate-10.png" class="img-fluid" alt=""></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section> <!-- end of newsletter -->
<!-- Contact -->
<section class="contact d-flex align-items-center py-5" id="contact">
    <div class="container-fluid text-light">
        <div class="row">
            <div class="col-lg-6 d-flex justify-content-center justify-content-lg-end align-items-center px-lg-5" data-aos="fade-right">
                <div style="width:90%">
                    <div class="text-center text-lg-start py-4 pt-lg-0">
                        <p>@labels.Contact</p>
                        <h2 class="py-2">@labels.SendYourQuery</h2>
                        <p class="para-light">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos dicta mollitia totam explicabo obcaecati quia laudantium repudiandae.</p>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group py-2">
                                    <input type="text" class="form-control form-control-input" id="Name" placeholder="Enter name">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group py-2">
                                    <input type="email" class="form-control form-control-input" id="Number" placeholder="Enter phone number">
                                </div>
                            </div>
                        </div>
                        <div class="form-group py-1">
                            <input type="email" class="form-control form-control-input" id="Email" placeholder="Enter email">
                        </div>
                        <div class="form-group py-2">
                            <textarea class="form-control form-control-input" id="Message" rows="6" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="my-3">
                        @*<button class="send-email-btn" style="text-align: right!important;" id="SendEmail" type="button">@labels.SendMessage</button>*@
                        <a class="btn form-control-submit-button" onclick="SendEmail()">@labels.SendMessage</a>
                    </div>
                </div> <!-- end of div -->
            </div> <!-- end of col -->
            <div class="col-lg-6 d-flex align-items-center" data-aos="fade-down">
                <img class="img-fluid d-none d-lg-block" src="content/images/contact.jpg" alt="contact">
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</section> <!-- end of contact -->
<!-- Location -->
<section class="location text-light py-5">
    <div class="container" data-aos="zoom-in">
        <div class="row">
            <div class="col-lg-3 d-flex align-items-center">
                <div class="p-2"><i class="far fa-map fa-3x"></i></div>
                <div class="ms-2">
                    <h6>@labels.Address</h6>
                    <p>@labels.AddressDesc</p>
                </div>
            </div>
            <div class="col-lg-3 d-flex align-items-center">
                <div class="p-2"><i class="fas fa-mobile-alt fa-3x"></i></div>
                <div class="ms-2">
                    <h6>@labels.CallForQuery</h6>
                    <p>@labels.Number</p>
                </div>
            </div>
            <div class="col-lg-3 d-flex align-items-center">
                <div class="p-2"><i class="far fa-envelope fa-3x"></i></div>
                <div class="ms-2">
                    <h6>@labels.SendUsAMessage</h6>
                    <p>@labels.EmailAddress</p>
                </div>
            </div>
            <div class="col-lg-3 d-flex align-items-center">
                <div class="p-2"><i class="far fa-clock fa-3x"></i></div>
                <div class="ms-2">
                    <h6>@labels.OpeningHours</h6>
                    <p>@labels.Hours</p>
                </div>
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</section> <!-- end of location -->
<!-- Vendor JS Files -->
<script src="content/vendor/aos/aos.js"></script>
<script src="content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="content/vendor/glightbox/js/glightbox.min.js"></script>
<script src="content/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="content/vendor/php-email-form/validate.js"></script>
<script src="content/vendor/purecounter/purecounter.js"></script>
<script src="content/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="content/js/main.js"></script>

<script>
 
    $('.qode-showcase-icon').mouseover(
        function () {

            $('.qode-showcase-item-holder').removeClass('qode-showcase-active')
            $(this).closest('.qode-showcase-item-holder').addClass('qode-showcase-active')
        }
    )
    function SendEmail() {

        var name = $("#Name").val();
        var number = $("#Number").val();
        var email = $("#Email").val();
        var message = $("#Message").val();

        var url = getHome() + "/Home/SendEmail?";

        $.ajax({
            url: url,
            type: 'Post',
            data: {
                name: name,
                number: number,
                email: email,
                message: message
            },
            success: function (result) {

                if (result.valid == true) {

                    $("#Name").val("");
                    $("#Number").val("");
                    $("#Email").val("");
                    $("#Message").val("");
                    document.getElementById("EmailMessage").innerHTML = "<div class='alert alert-success'>The email was sent successfully.</div>";
                }
                else {
                    document.getElementById("EmailMessage").innerHTML = "";
                }
            },
            error: function () {
            }
        });
    };

</script>
